@import 'grid';
@import 'normalize';


$phones: 240px;
$mobile: 300px;
$small: 480px;
$medium-screens: 768px;
$normal: 980px;

@mixin respond-to($media) {
    @if $media == crappy{
    @media only screen and (min-width: $phones) and (max-width: $mobile){ @content; }
  }
  @if $media == handhelds {
    @media only screen and (min-width: $phones) and (max-width: $small) { @content; } 
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small+1) and (max-width: $medium-screens) { @content; }
  }
    @else if $media == normal {
    @media only screen and (min-width: $phones) and  (max-width: $normal - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $normal) { @content; }
  }
}

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*FlexEmbed*/
.FlexEmbed {
  display: block;
  overflow: hidden;
  position: relative;
}
.FlexEmbed:before {
  content: "";
  display: block;
  width: 100%;
}
.FlexEmbed--2by1:before {
  padding-bottom: 100%;
}
.FlexEmbed--1by1:before {
  padding-bottom: 50%;
}

body {
    font-family: "Press Start 2P";
    font-weight: 400;
    text-transform: uppercase;
}
.wrap {
    margin: auto;
    max-width: 1500px;
    width: 100%;
}
header {
    height: 84px;
    position: relative;}
.header {
    height: 84px;
    position: relative;
}

.logo {
    background: url(images/LOGO.png) no-repeat center center;
    display: inline-block;
    width: 195px;/*10.72607260726073%*/
    background-size: contain;
    height: 64.28571428571429%; /*54px / 84px*/
    margin: 10px  0 0 1.32013201320132% ; /*24px / 1818px*/
    float: left;
    
    @include respond-to(normal) {
         width: 20%;
         min-width: 110px;
         margin: 0;
     }
    @include respond-to(crappy) {
        min-width: 90px;
        height: 50px;
        background: url(images/logo-phone.png) no-repeat center center;
        margin: 0;
    }
}

.menu {
    text-align: center;
    padding-top: 36px;
    
     @include respond-to(handhelds) {
        padding: 58px 0 0 3%;
    }
    @include respond-to(crappy) {
        font-size: 0.8em;
    }
    
}

.menu_item {
    margin-right: 1.08474576271186%;
    color: #332f2f;
    font-size: 0.75em; /*14px / 16px*/
	text-decoration: none;
	@include respond-to(handhelds) {
         font-size: 0.5em;
		 padding-left: auto;
     }
}

.basket {
    float: right;
    display:inline-block;
    background: #e4e3e3;
}

.basket_sum {
            color: #332f2f;
            text-align: right;
            font-size: 0.5625em; /*9px / 16px*/
            padding: 21px 23px 15px 18px;
    
     @include respond-to(handhelds) {
         padding: 5% 0 0 0;
         font-size: 0.5em;
     }
     @include respond-to(medium-screens){
        padding: 21px 1px 15px 1px;
     }
    
        span {
            color: #999999;
            font-size: 1.1em;
                
                @include respond-to(handhelds) {
                    display: none;
                }
            
                @include respond-to(medium-screens) {
                    display: none;
                } 
            }
          
            b {
                font-size: 1.555555555555556em; /*14px / 9px*/
				color: #229cd4;
              
                @include respond-to(handhelds) {
//                    font-size: 1.2em;
            }
    
          }
        pre {
            font-family: "Press Start 2P";
            margin: 0 0 10px 0;
        }
}

.row {
    background: url(images/Ellipse-3-copy.png) no-repeat center center;
    display: inline-block;
    height: 440px;
    width: 100%;
    background-size: cover;
    position: relative;  
    
    a {
        color: #ffffff;
        font-size: 0.875em; /*14px / 16px*/
		text-decoration: none;
    }
    @include respond-to(normal) {
        background: url(images/Ellipse-Tablet980.png) no-repeat center center;
    }
    
    @include respond-to(handhelds) {
        background: url(images/Ellipse-Phone480.png);
    }
}



.row_stud_butt {
    background-color: #ff4911;
    height: 31px;
    border: none;
    position: absolute;
    left: 315px;
    box-shadow: 0 2px #b9360d;
    padding: 9px 10px 9px 10px;
	text-transform: uppercase;
    
    @include respond-to(crappy){
        position: static;
        float: left;
    }
    @include respond-to(normal) {
        position: static;
        float: left;
    }
}

.row_stud_make {
    width: 213px;
    height: 48px;
   background: url(images/MergedLayers3.png) no-repeat;
    float: right;
    position: absolute;
    left: 500px;
    top: 60px;
    background-size: contain;
    
    
    @include respond-to(crappy){
        position: static;
        float: left;
        margin: 40px 0 0 -53px;
        width: 60.375%;
    }
    @include respond-to(normal) {
        position: static;
        float: left;
        margin-top: 40px;
        width: 60.375%;
    }
}

.row_stud {
    width: 960px;
    height: 91px;
    position: relative;
    margin: 0 auto;
    
    
    @include respond-to(crappy){
        font-size: 0.6em;
        width: 100%;
    }
    @include respond-to(handhelds) {
        font-size: 0.7em;
    }
    @include respond-to(normal){
        width: 100%;
    }
}


.row_botton {
    width: 960px;
    height: 140px;
    position: relative;
    margin: 0 auto;
    margin-top: 170px;
    
    @include respond-to(crappy){
        width: 100%;
    }
     @include respond-to(normal) {
        width: 100%;
    }
}

.row_botton_make {
    width: 185px;
    height: 138px;
    background: url(images/advtime.png) no-repeat;
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: 295px;
    background-size: contain;
    
    
     @include respond-to(normal) {
        position: static;
        float: left;
    }
    @include respond-to(handhelds) {
        margin-top: 30px;
        min-width: 132px;
        width: 30.54166666666667%;
    }
    @include respond-to(crappy){
        margin-top: 58px;
        min-width: 90px;
    }
}

.row_botton_txt {
    width: 195px;
    height: 110px;
    background: url(images/MergedLayers2.png) no-repeat;
    display: inline-block;
    position: absolute;
    left: 70px;
    background-size: contain;

     @include respond-to(normal) {
        position: static;
        float: left;
         margin: 1%;
         width: 30.375%;
         min-width: 160px;
    }
     @include respond-to(handhelds) {
        min-width: 140px;
        width: 44.375%;
        margin: 0;
    }
    @include respond-to(crappy){
        min-width: 120px; 
    }
}


.row_button_left {
    height: 31px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: #ff4911;
    border: 0px;
    box-shadow: 0 2px #b9360d;
    padding: 9px 10px 9px 10px;
	text-transform: uppercase;
    
        a {
            font-size: 0.875em;  /*14px / 16px*/
        }
    
    @include respond-to(crappy){
        font-size: 0.6em;
    }
    @include respond-to(handhelds) {
        font-size: 0.7em;
    }
}
.row_two {
	background: url(images/backgrounds6.png);
	width: 100%;
	height: 457px;;
	margin-top:-100px;
	display: inline-block;
}

.busket_sum_ul {
	margin: 0;
	padding: 0;

}

.row_two_a {
	background: url(images/MergedLayers20.png) no-repeat;
	height: 48px;
	width: 284px;
	margin:140px auto;
}

.row_two_two {
	position: relative;
	width: 960px;
	margin: -100px auto;
	 @include respond-to(normal){
        width: 90%;
		 font-size: 0.5em;
    }
}

.row_two_android {
	width: 231px;
	height: 165px;
	position: absolute;
	@include respond-to(normal){
        width: 20%;
		left: 4%;
    }
}



.row_two_c {
	background: url(images/Rectangle-5-copy-31.png)no-repeat;
	width: 99px;
	height: 99px;
	margin: 20px auto;
}


.row_two_d {
	background: url(images/MergedLayers4.png)no-repeat;
	width: 33px;
	height: 38px;
	position: absolute;
	@include respond-to(normal){
     margin: 0 -20px auto;
    }
}
n{
	font-size: 0.7em;}
.row_two_mail {
	width: 231px;
	height: 165px;
	position: absolute;
	left: 400px;
	 @include respond-to(normal){
        width: 20%;
		 left: 40%;
    }
}

.row_two_e {
	background: url(images/MergedLayers8.png)no-repeat;
	width: 38px;
	height: 35px;
	position: absolute;
		@include respond-to(normal){
     margin: 0 -20px auto;
    }
}

.row_two_f {
	background: url(images/Rectangle-5-copy-32.png)no-repeat;
	width: 99px;
	height: 99px;
	margin: 20px auto;
	
}


.row_two_cat {
	width: 231px;
	height: 165px;
	position: absolute;
	width: auto;
	left: 80%;
	  @include respond-to(normal){
        width: 20%;
		 left: 77%;
    }
		
}


.row_two_g {
	
	background: url(images/MergedLayers0.png)no-repeat;
	width: 31px;
	height: 37px;
	position: absolute;
		@include respond-to(normal){
     margin: 0 -30px auto;
    }
	
}

.row_two_h {
	background: url(images/Rectangle-10-copy-36.png)no-repeat;
	width: 89px;
	height: 99px;
	margin: 20px auto;
}

.row_three {
	width: 100%;
	background: url(images/backgrounds3.png)no-repeat;
	height: 153px;
	display: inline-block;

}

.row_three_a {
	background: url(images/Group-21-copy-41.png)no-repeat;
	width: 53px;
	height: 67px;
	position: absolute;
	left:40%;
	top:45px;
		 @include respond-to(normal){
        width: 20%;
		 left: 10%;
    }
}

.row_three_b {
	background: url(images/Group-21.png)no-repeat;
	width: 53px;
	height: 67px;
	left: 45%;
	top:45px;
	position: absolute;
		 @include respond-to(normal){
        width: 20%;
		 left: 20%;
    }
}

.row_three_need {
	width: 960px;
	position: relative;
}

.ro_three_need {
	width: 90%;
	position: relative;
	 @include respond-to(normal){
        width: 95%;
    }
}

.row_three_c {
		background: url(images/Group-21-copy-26.png)no-repeat;
	width: 53px;
	height: 67px;
	left: 50%;
	top:45px;
	position: absolute;
		 @include respond-to(normal){
        width: 20%;
		 left: 30%;
    }
}

.row_three_d {
		background: url(images/Group-21-copy-3.png)no-repeat;
	width: 53px;
	height: 67px;
	position: absolute;
	left:55%;
	top:45px;
		 @include respond-to(normal){
        width: 20%;
		 left: 40%;
    }
}

.row_three_text {
	width: 25%;
	height: 33px;
	position: absolute;
	top:64px;
	left: 65%;
	font-size: 0.8em;
	color: #fff;
	@include respond-to(normal){
        width: 40%;
		 left: 55%;
    }
}

L {
	color: #ffffff;
}

.row_four {
	 width: 100%;
    background: #ffffff;
    margin-top: -4px;
    margin-bottom: 53px;
    display: inline-block;
    position: relative;
}

.row_four_need {
	 @include column(1);
    min-width: 155px;
    
    @include respond-to(handhelds) {
        width: 50%;
        min-width: 150px;
        font-size: 0.7em;   
    }
    @include respond-to(crappy) {
        width: 100%;
           
    }
     span {
         white-space: pre-line;
     }
    
     b {
         font-size: 1.166666666666667em; /*14px / 12px*/
         
         @include respond-to(medium-screens) {
                font-size: 0.8em;
            } 
     }
}

.row_four_a {
 background: url(images/gallaryLacoste.png) no-repeat;
    background-position: 50%;
    background-size: cover;
    margin: 0 auto 1em;
    
     
    @include respond-to(handhelds) {
        background: url(images/gallaryLacoste240.png);
        background-position: 50%;
        background-size: cover;
        margin: 0 auto 1em;
    }
}

.row_four_b {
 background: url(images/gallaryInveder.png) no-repeat;
    background-position: 50%;
    background-size: cover;
    margin: 0 auto 1em;
    
    @include respond-to(handhelds) {
        background: url(images/gallaryInveder240.png);
        background-position: 50%;
        background-size: cover;
        margin: 0 auto 1em;
    }
}

.row_four_c {
 background: url(images/gallaryLiza.png)no-repeat;
    background-position: 50%;
    background-size: cover;
    margin: 0 auto 1em;
    
    @include respond-to(handhelds) {
        background: url(images/gallaryLiza240.png);
        background-position: 50%;
        background-size: cover;
        margin: 0 auto 1em;
    }
}

.row_four_d {
	background: url(images/gallaryMonroe.png)no-repeat;
    background-position: 50%;
    background-size: cover;
    margin: 0 auto 1em;
    
    @include respond-to(handhelds) {
        background: url(images/gallaryMonroe240.png);
        background-position: 50%;
        background-size: cover;
        margin: 0 auto 1em;
    }
}

.row_four_e {
		  background: url(images/gallaryGranate.png) no-repeat;
    background-position: 50%;
    background-size: cover;
    margin: 0 auto 1em;
    
    @include respond-to(handhelds) {
        background: url(images/gallaryGranate240.png);
        background-position: 50%;
        background-size: cover;
        margin: 0 auto 1em;
    }
}

.row_four_f {
    background: url(images/gallaryPhone.png) no-repeat;
    background-position: 50%;
    background-size: cover;
    margin: 0 auto 1em;
    
    @include respond-to(handhelds) {
        background: url(images/gallaryPhone240.png);
        background-position: 50%;
        background-size: cover;
        margin: 0 auto 1em;
    }

}

.row_four_colon {
	     width: 951px;
    margin: 40px auto;
    line-height: 15px;
    font-size: 0.75em; /*12px / 16px*/
    
    @include respond-to(normal){
        width: 100%;
        height: 100%;
        font-size: 0.7em;
    }
}

.button_1 {
	    width: 100%; /*960px*/
    position: relative;
    display: inherit;

}

.button_2 {
	  min-width: 100px;
    width: 12%; /*220px*/
    height: 31px;
    background-color: #ff4911;
    box-shadow: 0 2px #b9360d;
    border: 0;
    position: absolute;
    left: 44%; /*370px*/
      @include respond-to(normal){
       left: 40%;
    }
    a {
        text-align: center;
        color: #ffffff;
        font-size: 0.875em; /*14px / 16px*/
		 font-family: "Press Start 2P";
    font-weight: 400;
    text-transform: uppercase;
		text-decoration: none;
    }

}

.row_five {
	  width: 100%;
    max-height: 510px;
    background: url(images/row5background.png) no-repeat center center;
    background-position: 50%;
    background-size: cover;
    margin: 0 auto;
    
    @include respond-to(normal) {
        background: url(images/row5background980.png);
        background-position: 50%;
        background-size: cover;
        margin: 0 auto;
    }
}

.footer {
	width: 100%;
	height: 60px;
	display: inline-block;
	 padding: 2% 0 3% 2%;
	position: relative;
}

.footer_need {
	position: relative;
	min-width:  960px;
	display: block;
	@include respond-to(normal){
        width: 90%;
		 font-size: 0.4em;
}
}

.rights {
	font-size: 0.7em;
	float: left;
	display: inline-block;
	 @include respond-to(normal) {
        position: absolute;
        top: 136%;
        left: 34%;
        padding-top: 1%;

	}
}

.social {
	width: 93px;
	height: 33px;
	display: inline-block;
	float: left;
	 margin: -0.6% 0 0 7%;
	@include respond-to(normal){
        margin: auto;
	}
}

.social_1 {
	background: url(images/Group-19-copy-2.png);
	height: 33px;
	width: 31px;
	position: relative;
	display: block;
	float: left;
	 @include respond-to(handhelds) {
        background-position: 50%;
    }
	
}

.social_2 {
	background: url(images/Group-19-copy-3.png);
	height: 33px;
	width: 31px;
	display: inline-block;
}

.social_3 {
	background: url(images/Group-19-copy-4.png);
	height: 33px;
	width: 31px;
	position: absolute;
	display:inline-block;
}

.logo_footer {
	background: url(images/LOGO-3.png);
	position: absolute;
	left: 45%;
	top: 50%;
	margin: -0.6% auto;
	width: 90px;
	height: 25px;
@include respond-to(normal){
	left:40%;
        top: 105%;
    	
}
	
}

.text_2 {
	width: 180px;
	font-size: 0.7em;
	float: right;
	display: inline-block;
	text-align: right;
	span{
		float: right;
		color: #ff4911;
	}
		  @include respond-to(normal) {
            display: block;
			  margin: 0 0 0 70%;
    }

}

.text_1 {
	width: 180px;
	font-size: 0.7em;
    float: right;
	text-align: right;
	display: inline-block;
	span{
		float: right;
		color: #ff4911;
	}
	@include respond-to(normal){
       display: block;
}
  
}

.boy_and_dog {
    width: 185px;
    height: 138px;
    background: url(images/advtime.png) no-repeat;
    display: inline-block;
    position: absolute;
    left: 295px;
    background-size: contain;
    
    
     @include respond-to(normal) {
        position: static;
        float: left;}
	
		   @include respond-to(handhelds) {
        margin-top: 30px;
        min-width: 132px;
        width: 31%;
    }
    }

